<p>Domain: <strong>{{ siteInfo.domain }}</strong></p>
<br />
<p>DB HOST: <strong>{{ siteConfig.dbhost }}</strong></p>
<p>DB USER: <strong>{{ siteConfig.dbuser }}</strong></p>
<p>DB PASS: <strong>{{ siteConfig.dbpass }}</strong></p>
<p>DB NAME: <strong>{{ siteConfig.dbname }}</strong></p>