<h2>Domain: <strong>{{ siteInfo.domain }}</strong></h2>
<br />
<form method="POST" action="../process-site">
    <h3>DB HOST</h3>
    <p><input type="text" name="dbhost" value="{{ siteConfig.dbhost }}" /></p>
    <h3>DB USER</h3>
    <p><input type="text" name="dbuser" value="{{ siteConfig.dbuser }}" /></p>
    <h3>DB PASS</h3>
    <p><input type="password" name="dbpass" value="{{ siteConfig.dbpass }}" /></p>
    <h3>DB NAME</h3>
    <p><input type="text" name="dbname" value="{{ siteConfig.dbname }}" /></p>
    <p></p><input type="submit" name="submit" value="Change Settings"></p>
</form>

<h3>{{ connectionStatus }}</h3>

