<p>Domain: <strong>{{ siteInfo.domain }}</strong></p>
<br />
<p>DB HOST: <input type="text" name="dbhost" value="{{ siteConfig.dbhost }}" /></p>
<p>DB USER: <input type="text" name="dbuser" value="{{ siteConfig.dbuser }}" /></p>
<p>DB PASS: <input type="text" name="dbpass" value="{{ siteConfig.dbpass }}" /></p>
<p>DB NAME: <input type="text" name="dbname" value="{{ siteConfig.dbname }}" /></p>